*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--main-text-color);
}

:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color: #212125;
    --splash-color-1: #2e7ec0;
    --splash-color-2: #75bbf5;
    --main-text-color: #1f1f1f;
    --secondary-text-color: #dfdfdf;
  }


  /*-------------Header----------------*/

body{
    min-height: 100%;
    background: var(--main-bg-color);
}

header{
    position: relative;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: var(--secondary-bg-color);
}

header .logo {
    color: var(--splash-color-2);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 6px;
    transition: 0.5s;
}

header .logo:hover, header .logo:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--main-bg-color);
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

ul li a{
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--splash-color-2);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

ul li a:hover::after{
    width: 100%;
}

  /*-------------Index----------------*/

.index-body{
    position: relative;
    display: grid;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 100px 100px;
}

.index-body-left{
    padding: 30px 30px;
    width: 40vw;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.index-body-left span{
    font-size: 5em;
    font-weight: 700;
    width: 100%;
    margin-right: 100%;
    margin-bottom: 20px;

}

.index-body-left h2{
    letter-spacing: 2px;
    font-size: 2em;
    opacity: 0;
    font-family: serif; 
    font-style: oblique;
    animation: 
        fadeInFromNone 1s forwards;
    animation-delay: 4s;
}

.index-body-right{
    grid-column: 2;
    grid-row: 1;
    width: 40vw;
}

.js-draw{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: -1;
}

#index-button{
    opacity: 0;
    animation: 
        fadeInFromNone 1s forwards;
    animation-delay: 5s;
}


/*-------------About------------*/
#about{
    display: flex;
    flex-direction: column;
}

.about-section{
    display: flex;
    justify-content: space-around;
    padding: 2vh 10vw;
    flex-wrap: wrap;
    opacity: 0;
    animation: 
        fadeInFromNone 2s forwards;
    animation-delay: var(--d);
}

.about-col-element{
    width: 30vw;
    min-width: 400px;
    height: auto;
    text-align: center;
    align-self: center;
    flex-basis: 35%;

}

.sub-title{
    font-size: 2em;
    font-weight: 600;
    color: var(--splash-color-2);
    padding: .5em .5em;
}

.sub-text{
    color: var(--main-text-color);
}

.tab-titles{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;
}

.tab-links{
    margin: 5px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--secondary-text-color);
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--splash-color-2);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links:hover::after{
    width: 100%;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: var(--secondary-text-color);
}

.tab-contents ul li span{
    color: var(--splash-color-2);
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/*-------------Portfolio------------*/



/*-------------Contact------------*/

.contact-container{
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 2vw;
    flex-direction: column;
    align-items: center;
}

.contact-element{
    flex-basis: 40%;
    padding: 2vh 2vw;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-element h1{
    text-align: center;
    font-weight: 1000;
    font-size: 4em;
    letter-spacing: 3px;
}

.social-media-button img{
    width: 60px;
    min-width: 60px;
}
.gmap-container{
    width: 90%;
    max-width: 50vw;
}

.gmap-canvas{
    display: flex;
    justify-content: center;
    width: 100%;
}


/*-------------General Patterns------------*/
.typewriter{
    font-family: monospace;
    color:#0000;
    background:
        linear-gradient(-90deg, var(--splash-color-2), 5px,#0000 0) 10px 0,
        linear-gradient(var(--main-text-color) 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
        blink .6s steps(1) infinite,   
        type calc(var(--n)*.15s) steps(var(--n) ) forwards;
    animation-delay: var(--d);
}

.raise-button:hover,
.raise-button:focus {
    background-color: var(--secondary-bg-color);
    color: var(--splash-color-2);
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-bg-color);
}

.raise-button {
    position: relative;
    font-size: 1.5em;
    background: none;
    border: 2px solid;
    line-height: 1;     
    padding: 1em 2em;
    text-decoration: none;
    transition: 0.5s;
    z-index: 10;
    min-width: 250px;
    max-width: 25vw;
    text-align: center;
}

.black-card{
    background-color: var(--secondary-bg-color);
    border-radius: .5vw;
    padding: 5vh 5vh;
    text-align: center;
    transition: 1s;
    flex-grow: 2;
}

.black-card:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-bg-color);
}

.white-text{
    color: var(--secondary-text-color);
}

/*-------------Animations------------*/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: .3; }
}

@keyframes type{
    from {background-size:0 200%}
  }
  @keyframes blink{
    50% {background-position:0 -100%,0 0}
  }

  @keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
/*-------------CSS for small screen------------*/
@media only screen and (max-width: 700px){
    .title-text{
        font-size: 24px;
    }
    header{
        padding: 50px;
    }
    .index-body{
        padding: 50px;
        columns: 1;
    }
    .index-body h1{
        font-size: 2.5em;
        margin-bottom: 25px;
    }
    .index-body h2{
        font-size: 1.2em;
    }
}